.accueil {
  display: flex;
}

.logo-img {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 15px;
  top: 14px;
}
.title-img {
  position: absolute;
  width: 80px;
  height: 25px;
  left: 50px;
  top: 5px;
}
.portal-img {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 140px;
  top: 200px;
}

.title-accueil {
  position: absolute;
  width: 153px;
  height: 41px;
  left: 100px;
  top: 30px;

  font-family: 'Freckle Face';
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 14px;
  text-align: center;

  color: #00beb3;
}
@media screen and (min-width: 751px) {
  .title-accueil {
    font-size: 3em;
  }
}
