.accueil {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.top-logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.title-img {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.portal-img {
  width: 100%;
}

.title-accueil {
  font-family: 'Freckle Face';
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 14px;
  text-align: center;

  color: #00beb3;
}
@media screen and (min-width: 751px) {
  .title-accueil {
    font-size: 3em;
  }
}
