.BannerHeader {
    /* background-color: black; */
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f2efa0e2-6e29-4f10-a6bc-9d8cb56affe4/dd6qzr9-283b1883-5aa4-4c31-af2e-a14e9144486e.jpg/v1/fill/w_1192,h_670,q_70,strp/rick_and_morty_characters_uhd_4k_wallpaper_by_got91_dd6qzr9-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvZjJlZmEwZTItNmUyOS00ZjEwLWE2YmMtOWQ4Y2I1NmFmZmU0XC9kZDZxenI5LTI4M2IxODgzLTVhYTQtNGMzMS1hZjJlLWExNGU5MTQ0NDg2ZS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.75avALcB3m7vnYoHm5KVvlKBEGli1nDf_uLAy5l3XgI');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    height: 150px;
    width: 100%;
}


.container {
    display: flex;
    padding: 0;
    flex-direction: column;
    align-items: center;
    border: none;
    color: aliceblue;
}

.container li {
    list-style-type: none;
}

.infos {
    align-content: center;
}

h1 {
    text-align: center;
}
.character {

}

.location {

}

.episode {

}