.allitems {
    display: flex;
    padding: 0;
    flex-direction: column;
    align-items: center;
    border: none;
    color: aliceblue;
}

.allitems li {
    list-style-type: none;
}

.infos {
    align-content: center;
}

h1 {
    text-align: center;
}