.logo-img {
    position: fixed;
    top: 36px;
    left: 36px;
    width: 55px;
    height: 55px;
}

.BannerHeader {
    /* background-color: black; */
    background-image: url('');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    height: 150px;
    width: 100%;
}

.menu {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  padding-right: 3%;
  padding-top: 3em;

}

.textmenu {
    font-family: 'Freckle Face', cursive;
    color: rgb(45, 212, 51);
    font-size: 2em;
    padding-left: 1em;
}

.textmenu:hover {
    color: rgb(15, 110, 18);
}

.textmenu:visited {
    color: rgb(48, 233, 54);
}

.textmenu:link {
    text-decoration: none;
}


