.logo-img {
    position: fixed;
    top: 36px;
    left: 36px;
    width: 55px;
    height: 55px;
}

.logo-img:hover {
    zoom: 1.2;
}

.BannerHeader {
    background-image: url('http://krembojeans.com/img/parallax/parallax-1%20z.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    height: 150px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
}

.menu {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  padding-right: 3%;
  padding-top: 3em;
}

.textmenu {
    font-family: 'Freckle Face', cursive;
    font-size: 2em;
    padding-left: 1em;
    justify-content: baseline;
    color:  #4CAF50;
    opacity: 0.8;
}

.textmenu:hover {
    color: rgb(52, 243, 34);
    text-decoration: none;
    zoom: 1.2;
}

.textmenu:link {
    text-decoration: none;
}

@media screen and (min-width: 751px) {
    .burgermenu {
        display: none;
    }
}

@media screen and (max-width: 751px) {
    .menu {
        display:none;
    }
}


