.BannerHeaderCharacterPage {
    /* background-color: black; */
    background-image: url();
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    height: 150px;
    width: 100%;
}

h1 {
    color: #5db55d;
}

.image-character img{
    margin-top: 30px;
    border-radius: 50%;
}

.character-infos {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
    border: solid;
    border-radius: 30%;
    padding: 16px;
    border-color: #5db55d;
}

.allitems{
    display: flex;
    padding: 0;
    flex-direction: column;
    align-items: center;
    border: none;
    color: aliceblue;
    font-family: 'Freckle Face', cursive;
} 
.allitems li {
    list-style-type: none;
} 

.infos {
    align-content: center;
}

h1 {
    text-align: center;
}
.character {

}

.location {

}

.episode {

}