
.characters {
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.characteresInfos {
    padding: 10px;
    display: flex;
    flex-direction: column ;
    align-items: center ;
    
}

.vignette {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}


.link, .link:visited, .link:hover {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 2em;
}

.characteresname {
    width: 100%;
    color: #3e8e41;
}

@media screen and (min-width: 720px) {
    
    .characters {
        flex-direction: row;
    }
}