
.characters {
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.characteresInfos {
    padding: 10px;
    display: flex;
    flex-direction: column ;
    align-items: center ;
    
}

.characteresInfos img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    padding-top: 1em;
    padding-left: 1em;
}

.vignette {
    border-radius: 10%;

}


.blocInformations {
    list-style-type: none;
    
}

.link, .link:visited, .link:hover {
    text-decoration: none;
    color: black;
    font-size: 2em;
}

.characteresname {
    color: #3e8e41;
}

@media screen and (min-width: 720px) {
    .characteresInfos {
        width: 30%;
    }
    .characters {
        flex-direction: row;
    }
}