.characteresInfos {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.blocInformations {
    list-style-type: none;
}

.link, .link:visited, .link:hover {
    text-decoration: none;
    color: #ddd;
}


@media screen and (min-width: 751px) {
    
}