
.characters {
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;   
    flex-wrap: wrap;
    justify-content: center;
}

.characteresInfos {
    padding: 10px;
    display: flex;
    flex-direction: column ;
    align-items: center ;
    
}

.vignette {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.characteresInfos:hover {
    animation: pulse 1s infinite;
    animation-timing-function: linear;
 }
 @keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
 }

.blocInformations {
    list-style-type: none;
}


.link, .link:visited, .link:hover {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 2em;
}

.characteresname {
    width: 100%;
    color: #3e8e41;
}

@media screen and (min-width: 720px) {
    
    .characters {
        flex-direction: row;
    }
}