<<<<<<< HEAD
.BannerHeaderCharacterPage {
    /* background-color: black; */
    background-image: url('./ImageBannière/bannière.png');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    height: 150px;
    width: 100%;
}
.image-character:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(3px, -2px) rotate(-1deg); }
  }
h1 {
    color: #5db55d;
}

.image-character img{
    margin-top: 30px;
    border-radius: 50%;
}

.character-infos {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
    border: solid;
    border-radius: 30%;
    padding: 16px;
    border-color: #5db55d;
    /* text-align: center; */
}

.allitems{
=======
.allitems {
>>>>>>> dev
    display: flex;
    padding: 0;
    flex-direction: column;
    align-items: center;
    border: none;
    color: aliceblue;
<<<<<<< HEAD
    font-family: 'Freckle Face', cursive;
} 
=======
}

>>>>>>> dev
.allitems li {
    list-style-type: none;
} 

.infos {
    align-content: center;
}

h1 {
    text-align: center;
}
.character {

}

.location {

}

.episode {

}