@media (max-width: 720px) {
  /*.planets-container{
        display: flex;
    }*/

  .Planets {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  img {
    width: 100%;
    height: 17em;
    left: 0px;
    top: 0px;
    overflow: hidden;
  }

  /*.Planets*/
  .title-background {
    /*position: absolute;
width: 86px;
height: 16px;*/
    left: 47px;
    top: 154px;
    background: #5cc95a;
    border-radius: 20px;
    margin-left: 26%;
    margin-right: 26%;
  }
  .Planets .avatar {
    width: 269px;
    height: 175px;
    left: 26px;
    top: 57px;
    border-radius: 13px;
    margin-left: auto;
    margin-right: auto;
  }
}
