.result {
  max-width: 200px;
  border-radius: 4px;
  position: absolute;
  background: white;
  z-index: 100;
  max-height: 220px;
  overflow-y: auto;
}

.suggestion {
  z-index: 100;
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.suggImg {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 8px;
  object-fit: cover;
}