html {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./imageaccueil/backgroundimage.png);
  width: 100%;
  margin: 0;
  padding: 0;
  clear: both;

  background-attachment: fixed;
  background-size: auto;
  height: 100%;
}
